h1{
  text-align: center;
  font-size: 70px;
}
FORM{
  margin: 60px;

}
input{
  margin: 0 -10px;
}
.btn-primary{
  margin-left: 50px;
  width: 60px;
}
.lbl{
  font-family: Arial Black;
  font-size: 20px;
  margin-left: -8px;
}
.sex{
  margin-left: 20px;
}
.m{
  margin-left: 14px;
}
