FORM{
  text-align: center;
}
.form-inline{
  margin-left: 595px;
}
p{
  font-family: Arial Black;
}
.php1{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: Arial Black;
}
table{
  margin-top: 10px;
  text-align: center;
}
.definitiva{
  font-size: 30px;
  font-family: Black;
}
.btn1{
margin-left: 650px;
}
